/* GRUND */

html {
    background: #000;
    z-index: -1;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#logga {
    margin: 0;
    position: absolute;
    text-align: center;
    left: 42.5%;
    max-width: 15%;
    max-height: 200px;
    top: 5vh;
}

#preview {
    background: #000;
    max-height: 15vh;
    width: 200vw;
    left: -50vw;
    position: relative;
    display: block;
}

#preview p {
    color: #000;
    margin: 0;
}

#preview img {
    position: relative;
    width: 200px;
    height: 150px;
}

#preview .row {
    width: 70vw;
    position: absolute;
    left: 74.5vw;
    top: 8vw;
}

.thumbnail {
    background-color: #383838;
    border: none;
}

#bakgrund {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
}

/* GRUND SLUT */

/* HUVUDMENY */

.menu {
    margin-top: 15%;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    visibility: visible;
}

.svart {
    background-color: rgb(0,0,0);
}
 
.menu li {
    margin: 0px;
    list-style: none;
}
 
.menu a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu a:hover {
    color: #fff;
    text-decoration: none;
}

.menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

}

.menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 23px;
}

.menu > ul > li > a {
    padding: 10px 40px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
}

hr {
    width: 50%;
    position: relative;
    top: 40px;
}

p {
    font-size: 19px;

    position: relative;
    top: 70px;
    color: #fff;
}

/* HUVUDMENY SLUT */

/* MOBILMENY */

.navbar {
    visibility: hidden;
    position: absolute;
    bottom: 0;
}

.navbar-inverse {
    margin: 0;
}

/* MOBILMENY SLUT */

/* MAIN */

#content {
    width: 80vw;
    padding: 20px 40px;
    position: absolute;
    z-index: 1;
    background-color: rgba(55,62,64,0.7);
    margin-left: 10vw;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 40vh;
    opacity: 0;
    font-size: 15pt;
}

#content h1 {
    text-align: center;
    background-color: rgb(50,0,0);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 700px;
    margin: 0 auto 20px auto;
    font-family: 'Sigmar One', cursive;
}

#content article {
    font-family: 'Open Sans', serif;
    line-height: 25px;
    border: 2px outset #fff;
    padding: 20px 50px;
    border: none;
}

.knappen {
    width: 100px;
}

#maintext {
    opacity: 1;
}

#alternativ {
    opacity: 0;
}

/* MAIN SLUT */

/* BREAKPOINTS */

@media screen and (max-width: 1000px) {
    
    .navbar {
        visibility: visible;
        position: relative;
        top: 0;
    }
    
    .menu {
        visibility: hidden;
        display: none;
    }
    
    #logga {
        top: 15vh;
        max-width: 50%;
        max-height: 400px;
        left: 25%;
    }
    
    #preview {
        display: none;
    }
    
    #underline {
        top: 90vh;
    }
    
    #citat {
        color: black;
        
    }
    
    #bakgrund {
        display: none;
    }
    
    #content {
        padding: 5px 10px;
    }
    
    #content article {
        font-size: 11pt;
        padding: 5px;
    }
    
    #underline {
        display: none;
    }
}

/* BREAKPOINTS SLUT */

/* KEYFRAMES */

@keyframes faktaMenyUpp {
    from {margin-top: 15%;}
    to {margin-top: 3%;}
}

@keyframes faktaMenyNer {
    from {margin-top: 3%;}
    to {margin-top: 15%;}
}

@keyframes fadeInText {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOutText {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* KEYFRAMES SLUT */
